# Build results
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE / Editor files
.vs/
.idea/
.vscode/

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
